<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
        
        <!-- Flatpickr -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
          
        <title>民宿詳細</title>   
    </head>
    <body>
        <div class="samuraitravel-wrapper">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 samuraitravel-container">
                    <div class="row justify-content-center">
                        <div class="col-xxl-9 col-xl-10 col-lg-11">
                            <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">                        
                                    <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/houses}">民宿一覧</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">民宿詳細</li>
                                </ol>
                            </nav> 
                          
							
							 <div th:if="${param.reviewAdded}" class="alert alert-info">
							    <a>レビューが完了しました。</a>
							</div>   
							
							 <div th:if="${param.reviewDeleted}" class="alert alert-info">
							    <a>レビューを削除しました。</a>
							</div>   
							 <div th:if="${param.reviewEdited}" class="alert alert-info">
							    レビューを更新しました。
							</div>
							   
							<div class="d-flex justify-content-end">
							<a sec:authorize="isAuthenticated()" th:if="${addLike}" th:href="@{/houses/{id}/addLike(id=${house.id})}" class ="text-align:right">&#9825;この宿をお気に入りに追加する</a> 
							<a sec:authorize="isAuthenticated()" th:if="${deleteLike}" th:href="@{/houses/{id}/deleteLike(id=${house.id})}" class ="text-align:right">&#9829;お気に入り済</a>  
							</div>
                            
							<h1 class="mb-4 text-center" th:text="${house.getName()}"></h1>   <!--民宿名表示-->                                                      
                            
                            <div th:if="${errorMessage}" class="alert alert-danger">
                                <span th:text="${errorMessage}"></span>
                            </div>                                                                         
                            
                            <div class="mb-4">
                                <img th:if="${house.getImageName()}" th:src="@{/storage/__${house.getImageName()}__}" class="w-100" alt="民宿画像">
                                <img th:unless="${house.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
                            </div> 
                            
                            <div class="container">  
                                <div class="row">
                                    <div class="col-lg-8 container mb-4">            
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">民宿名</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${house.getName()}"></span>
                                            </div>
                                        </div>                    
                    
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">説明</span>
                                            </div>
                    
                                            <div class="col">
                                                <span class="samuraitravel-pre-wrap" th:text="${house.getDescription()}"></span>
                                            </div>
                                        </div>
                    
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">宿泊料金</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${#numbers.formatInteger(house.getPrice(), 1, 'COMMA') + '円'}"></span>
                                            </div>
                                        </div> 
                                        
                                       <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">定員</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${house.getCapacity() + '人'}"></span>
                                            </div>
                                        </div>                                
                                        
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">郵便番号</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${house.getPostalCode()}"></span>
                                            </div>
                                        </div>   
                                        
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">住所</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${house.getAddress()}"></span>
                                            </div>
                                        </div>   
                                        
                                        <div class="row pb-2 mb-2 border-bottom">
                                            <div class="col-4">
                                                <span class="fw-bold">電話番号</span>
                                            </div>
                    
                                            <div class="col">
                                                <span th:text="${house.getPhoneNumber()}"></span>
                                            </div>
                                        </div>                                
                                    </div>
                                    
                                    <div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                        <div class="card">
                                            <div class="card-body">                                                                                                                                                                                                                     
                                                <p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>が必要です。</p>                                                                                                                                            
                                                <button type="submit" class="btn text-white shadow-sm w-100 samuraitravel-btn" disabled>予約する</button>                                                                                                                
                                            </div>
                                        </div>  
                                    </div> 
                                    
                                    <div sec:authorize="isAuthenticated()" class="col-lg-4 px-0 ps-lg-4 mb-4">                  
                                        <div class="card">
                                            <div class="card-body"> 
                                                <form method="get" th:action="@{/houses/__${house.getId()}__/reservations/input}" th:object="${reservationInputForm}">                                                                                                                                                                       
                                                    <div class="form-group mb-2">                                            
                                                        <label for="fromCheckinDateToCheckoutDate" class="col-form-label text-md-left fw-bold">チェックイン・チェックアウト</label>    
                                                        <div th:if="${#fields.hasErrors('fromCheckinDateToCheckoutDate')}" class="text-danger small mb-2" th:errors="*{fromCheckinDateToCheckoutDate}"></div>                                          
                                                        <input type="text" class="form-control" th:field="*{fromCheckinDateToCheckoutDate}">                                                                     
                                                    </div>
                                                    
                                                    <div class="form-group mb-4">                                            
                                                        <label for="numberOfPeople" class="col-form-label text-md-left fw-bold">宿泊人数</label>  
                                                        <div th:if="${#fields.hasErrors('numberOfPeople')}" class="text-danger small mb-2" th:errors="*{numberOfPeople}"></div>                                            
                                                        <input type="number" class="form-control" th:field="*{numberOfPeople}" min="1">                                                                     
                                                    </div>
                                                                                                        
                                                    <div class="form-group">
                                                        <button type="submit" class="btn text-white shadow-sm w-100 samuraitravel-btn">予約する</button>
                                                    </div>
                                                </form>                                                                     
                                            </div>
                                        </div>  
                                    </div>    
									<h1 class="mb-4 text-center" >レビュー</h1>   <!--以下レビュー-->
									<p sec:authorize="isAuthenticated()" th:if="${userReview==null}">
									<a th:href="@{/houses/{id}/evaluation/review/input(id=${house.id})}" class="btn text-white shadow-sm w-100 samuraitravel-btn">レビューを投稿する</a>
									</p>         
									
									<div class="review-box">
									                      
										<div th:if="${!#lists.isEmpty(reviews)}" th:each="review, iterStat : ${reviews}">
										    <div th:if="${review.id == userReview?.id}">
										        <p>
												<a th:text="${review.user.name}" class="mr-35"></a>
													<!-- 編集ボタン -->
												        <a th:href="@{/houses/{id}/evaluation/review/edit(id=${house.id}, reviewId=${review.id})}" class="btn btn-warning text-align:right">編集</a>
												        
												        <!-- 削除ボタン -->
  														<a  class="btn btn-danger text-align:right" data-bs-toggle="modal" data-bs-target="#deleteModal" th:data-review-id="${review.id}" >削除</a>
												</p>

												<!-- モーダル -->
												<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
												    <div class="modal-dialog">
												        <div class="modal-content">
												            <div class="modal-header">
												                <h5 class="modal-title" id="deleteModalLabel">削除確認</h5>
												                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												            </div>
												            <div class="modal-body">
												                本当にこのレビューを削除しますか？
												            </div>
												            <div class="modal-footer">
												                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
												                <form th:action="@{/houses/{id}/evaluation/review/delete(id=${house.id})}" method="post" class="d-inline">
												                    <input type="hidden" name="reviewId" th:value="${review.id}"/>
																	<button type="submit" class="btn btn-danger">削除</button>
												                </form>
												            </div>
												        </div>
												    </div>
												</div>
												
							
												
												
												
												<p th:text="${review.reviewRank}" style="color:orange;"></p>
										        <p th:text="${#dates.format(review.updatedAt, 'yyyy年MM月dd日')}"></p>
										        <p th:text="${review.reviewContent}"></p>
										        
		
										    </div>

										    <!-- その他のレビュー -->
										    <div th:if="${review.id != userReview?.id}">
										        <p th:text="${review.user.name}"></p>
										        <p th:text="${review.reviewRank}" style="color:orange;"></p>
										        <p th:text="${#dates.format(review.updatedAt, 'yyyy年MM月dd日')}"></p>
										        <p th:text="${review.reviewContent}"></p>
										    </div>
										</div>

									</div>  <!--ここがレビューボックスの最後-->
									  <div th:if="${#lists.isEmpty(reviews)}">
										<p th:text="${noReviewsMessage}" style="text-align:center;" class="mb-3"></p>
									  </div> 
                                                                                                                                                                     
                                </div>    
								<div class="review-all" th:if="${!#lists.isEmpty(allReviewsShowMessage)}">

								<a th:href="@{/houses/{id}/evaluation(id=${house.id})}" th:text="${allReviewsShowMessage}" style="text-align:center;"></a>
								</div>                                                                                                   
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            
            <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <div th:replace="~{fragment :: scripts}"></div>  
        
        <!-- Flatpickr -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
        <script th:src="@{/js/flatpickr.js}"></script>        
  </body>
</html>